{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    The best cars on the internet
{% endblock %}
{% block body %}
    <h1>Our offer</h1>

    <table class="table">
        <tr>
            <th>Make</th>
            <th>Name</th>
        </tr>
        {% for car in cars %}
            <tr>
                <td>{{ car.make }}</td>
                <td>{{ car.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
