.image-preview {
  display: inline-block;

  img {
    width: 200px;
    height: 200px;
    display: inline-block;
  }

  video {
    height: 200px;
    width: 200px;
    vertical-align: middle;
    background-color: black;
  }
}
